body
{
	/* Background pattern from Subtle Patterns */
    background-image: url("symphony.png");
	font-family: 'Lato', sans-serif;
	font-size:15px;
}
#container
	{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		background-color:white;
	}
#logo
	{
	background-color:black;
	color:white;
	text-align:center;
	text-transform:uppercase;
	padding:15px;
	letter-spacing:3px;
	border-radius:10px;
	}
#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	text-align: left;
	margin-bottom:45px;
	padding-left:11px;
	margin-top:25px;
}
#nav
	{
	float:left;
	background-color:#D3D3D3;
	width: 120px;
	min-height:620px;
	padding:10px;
	border-radius:10px;
	}
#content
	{
	float:left;
	padding:20px;
	width: 640px;
	text-align:justify;
	border-radius:10px;
	}
#ad
	{
	float:left;
	width: 160px;
	min-height:620px;
	padding:10px;
	background-color:#D3D3D3;
	border-radius:10px;
	}
#footer
	{
	clear:both;
	background-color:black;
	color:white;
	text-align:center;
	padding:20px;
	border-radius:10px;
	}
.pogoda
{
	width:40px;
	height:40px;
	background-color: #d95333;
	text-align:center;
	border-radius:10px;
}
.pogoda:hover
{
	background-color:#c84222;
}
.sklep
{
	clear:both;
	width:160px;
	height:160px;
	background-color: #d95333;
	text-align:center;
	border-radius:10px;
}
.sklep:hover
{
	background-color:#c84222;
}

a.tilelink
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width: 640px;
	height:35px;
	padding-left:20px;
	
}
a.somlink
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width: 160px;
	height:160px;
	margin-top:3px;
}
.grafika
{
		text-align:center;
		padding:26px;
		width:600px;
		height:300px;
}
.option
{
	margin-top:5px;
	clear:both;
	background-color:#c84222;
	border-radius:10px;
	padding:5px;
	
}
.option:hover
{
	background-color:#b73111;
}
